.title{
    text-align: center;
    color: #212ea0;
    font: size 25px;
    font-weight: 600;
    /* text-transform: uppercase; */
    margin: 70px 0 30px;
}
.title h2{
    font-size: 32px;
    color: #000F38;
    margin-top: 5px;
    text-transform: none;
}

.title p{
    font-size: 22px;
    font-weight: bolder;
}